@charset "UTF-8";

* {
    /* height: 100%; */
    font-family: Arial, Helvetica, sans-serif;
}

p {
    text-align: justify;
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #013d37e8;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #DBF227;
    text-align: center;
    text-shadow: 1px 1px 2px #013d37e8;
}

h2{
    color: #0d669e;
}

body {
    background-image: linear-gradient(to right, #9FC131, #005C53);
}